<h1>About us</h1>
<div class="container anchor">
	<p>
		We're Manila's one and only source for used boardgames. If you can't find it here, we'll find it for you.
	</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam elementum nunc a turpis vestibulum aliquet. Donec varius ultricies dui, sit amet egestas libero tincidunt vitae. Nulla congue tortor et magna pharetra, sit amet placerat nulla molestie. Nunc laoreet enim vitae arcu posuere, id blandit nibh hendrerit. Nunc ac magna feugiat, dictum felis sit amet, ultricies tellus. Quisque et erat congue dui imperdiet rutrum a eu diam. Aliquam erat volutpat. Proin condimentum massa velit, quis lacinia metus ullamcorper eget. Proin placerat semper accumsan. Donec finibus convallis ex sit amet dapibus</p>
</div>
