<h1>Contact us</h1>
<div class="container anchor">
	<p><a href="mailto:benjie.dayco@gmail.com">benjie.dayco@gmail.com</a></p>
	<p>09184567238 / 09184567238</p>
	<p>
		123 Anonas Ave.<br>
		Sikatuna Village<br>
		Quezon City<br>
		Philippines 1101<br>
	</p>
</div>
<hr>