<body>
<h1>Welcome to Games Manila</h1>
<h2>Your source of used boardgames in Manila</h2>
<div class="container anchor">
		<%= image_tag("boardgame_wall.jpeg",class: "img-responsive") %>
</div>
</body>

