	
<p>Thank you for placing your order with GamesManila!</p>

<p>This email is to confirm your recent order.</p>

<p><b>Game:</b> <%= @product.name%></p>
<p><b>Order total:</b> $<%= @product.price%></p>


<p>Visit us at <a href="https://gamesmanila.herokuapp.com/">GamesManila!</a></p>
    
<p>Thank you for your order and have a great day!</p>