	<h1>Welcome to GamesManila!</h1>
  <p>
  	You have successfully signed up to <a href="https://gamesmanila.herokuapp.com/">GamesManila</a>
  </p>
    
   <p>Thanks for joining and have a great day!</p>