// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail {
    position: relative;
    padding: 5px;
    height: 700px;
}

.thumbnail img {
    width: 100%;
    overflow: auto;
    padding-bottom: 5px;
}

.thumbnail_image{
	height: 170px;
}

#add-product{
 	text-align:right;
 	height:40px;
}

.product-row{
 	margin-top: 40px;
 	margin-bottom: 40px;
}

.comments-row{
	margin-left: 10px;
}
	
