// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail-image{        
    width: 100%; // or you could use percentage value for responsive layout
    height: 250px;
    overflow: auto;
    padding-bottom: 20px;
    
}
